# =====================
# Xcode
# =====================
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint

# =====================
# macOS системные файлы
# =====================
.DS_Store
.AppleDouble
.LSOverride
Icon?
ehthumbs.db
Thumbs.db

# =====================
# SwiftPM
# =====================
.build/
.swiftpm/
Package.resolved

# =====================
# User-specific
# =====================
*.xcuserstate
*.xcworkspace/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
*.xcodeproj/xcuserdata

# =====================
# Env & Secrets
# =====================
.env
.env.*

# =====================
# Supabase (если используешь CLI локально)
# =====================
.supabase/
